<p id="notice"><%= notice %></p>

<p>
  <b>No:</b>
  <%= @grade.no %>
</p>

<p>
  <b>Name:</b>
  <%= @grade.name %>
</p>


<%= link_to 'Edit', edit_grade_path(@grade) %> |
<%= link_to 'Back', grades_path %>
