<p id="notice"><%= notice %></p>

<p>
  <b>Xq:</b>
  <%= @student.xq %>
</p>

<p>
  <b>Xx:</b>
  <%= @student.xx %>
</p>

<p>
  <b>Nj:</b>
  <%= @student.nj %>
</p>

<p>
  <b>Bj:</b>
  <%= @student.bj %>
</p>

<p>
  <b>Zh:</b>
  <%= @student.zh %>
</p>

<p>
  <b>Xm:</b>
  <%= @student.xm %>
</p>

<p>
  <b>Xb:</b>
  <%= @student.xb %>
</p>

<p>
  <b>Xh:</b>
  <%= @student.xh %>
</p>

<p>
  <b>Sfzh:</b>
  <%= @student.sfzh %>
</p>

<p>
  <b>Mz:</b>
  <%= @student.mz %>
</p>

<p>
  <b>Csd:</b>
  <%= @student.csd %>
</p>

<p>
  <b>Hkszd:</b>
  <%= @student.hkszd %>
</p>

<p>
  <b>Jtdz:</b>
  <%= @student.jtdz %>
</p>

<p>
  <b>Fqxm:</b>
  <%= @student.fqxm %>
</p>

<p>
  <b>Mqxm:</b>
  <%= @student.mqxm %>
</p>

<p>
  <b>Jhrxm:</b>
  <%= @student.jhrxm %>
</p>

<p>
  <b>Lxdh:</b>
  <%= @student.lxdh %>
</p>

<p>
  <b>Byxx:</b>
  <%= @student.byxx %>
</p>


<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
