<p id="notice"><%= notice %></p>

<p>
  <b>Ksh:</b>
  <%= @cj.ksh %>
</p>

<p>
  <b>Zkzh:</b>
  <%= @cj.zkzh %>
</p>

<p>
  <b>Xx:</b>
  <%= @cj.xx %>
</p>

<p>
  <b>Nj:</b>
  <%= @cj.nj %>
</p>

<p>
  <b>Bj:</b>
  <%= @cj.bj %>
</p>

<p>
  <b>Zh:</b>
  <%= @cj.zh %>
</p>

<p>
  <b>Xm:</b>
  <%= @cj.xm %>
</p>

<p>
  <b>Yw:</b>
  <%= @cj.yw %>
</p>

<p>
  <b>Sx:</b>
  <%= @cj.sx %>
</p>

<p>
  <b>Yy:</b>
  <%= @cj.yy %>
</p>

<p>
  <b>Wl:</b>
  <%= @cj.wl %>
</p>

<p>
  <b>Hx:</b>
  <%= @cj.hx %>
</p>

<p>
  <b>Sw:</b>
  <%= @cj.sw %>
</p>

<p>
  <b>Zz:</b>
  <%= @cj.zz %>
</p>

<p>
  <b>Ls:</b>
  <%= @cj.ls %>
</p>

<p>
  <b>Dl:</b>
  <%= @cj.dl %>
</p>


<%= link_to 'Edit', edit_cj_path(@cj) %> |
<%= link_to 'Back', cjs_path %>
